:root {
  --background: #ffffff;
  --foreground: rgb(24, 24, 26);
  --gray: rgb(118, 119, 127);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 18px;
}

@media (width <= 400px) {
  html, body {
    font-size: 14px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-cascadia-mono), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
