input.qrCodesJsonUpload {
  font-size: inherit;
}

.qrCodeContainer {
  width: 100%;
}

.qrCode {
  aspect-ratio: 1 / 1;
  width: 100%;
  display: grid;
}

.module {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.module.black {
  background-color: var(--foreground);
}

.module.white {
  background-color: var(--background);
}

.pageOuterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomCodeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.roomCode {
  font-size: 2rem;
}

.button {
  border: 4px solid var(--foreground);
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  transition: all 0.2s ease;
}

.button:disabled {
  border: 4px solid var(--gray);
  color: var(--gray);
  cursor: initial;
}

.button:enabled:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.button:disabled:hover {
  border-color: var(--foreground);
  color: var(--foreground);
}

.fullPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-style: italic;
}


.button.largeButton {
  font-size: 2rem;
}

.pageInnerContainer {
  width: 90%;
  max-width: 500px;
}

.title {
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
}

.description {
  margin-top: 20px;
}

.centeredTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.actionsGrid {
  width: 95%;
  max-width: 1000px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.actionsGrid > div {
  padding: 25px;
}

.actionsGrid > div:first-child {
  border-right: 2px solid var(--foreground);
}

.actionsGrid > div:nth-child(2) {
  border-left: 2px solid var(--foreground);
}

.dropJsonContainer {
  border: 4px dashed var(--foreground);
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  height: 100%;
  padding: 10%;
}

.dropJsonContainer:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.dropJsonContainer.dragging {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropJsonInstructions {
  font-size: 1.25rem;
  text-align: center;
  font-style: italic;
}

.joinQrCodeContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinText {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
}

.havePlayer {
  font-size: 1.25rem;
  margin-top: 20px;
}

.topLeftTitle {
  padding: 25px 25px;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.hostTrialContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hostTrialCenterContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.trialInnerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 95%;
  max-width: 1200px;
  max-height: 900px;
  justify-content: center;
}

.trialQrCodeContainer {
  width: 75%;
  max-width: 500px;
  max-height: 50vh;
  margin-top: 2vh;
}

.roundText {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: bold;
}

.scoreContainer {
  font-size: clamp(1.25rem, 3vw, 2rem);
  margin-top: 0.5vh;
  font-style: italic;
}

.waitingText {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.loadingTitle {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.guesserScreenTitle {
  margin-top: 50px;
  margin-bottom: 50px;
}

.qrScannerInnerContainer {
  width: 75%;
  border: 4px solid var(--foreground);
}

.skipButtonContainer {
  margin-top: 25px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skipButton {
  width: 100%;
  font-size: 1.5rem;
}

.nextButton {
  width: 75%;
  font-size: 1.5rem;
  margin-top: 25px;
}

.startOverButton {
  width: 75%;
  max-width: 300px;
  font-size: 1.5rem;
  margin-top: 25px;
}

.rickFeedback {
  width: 75%;
  height: unset;
  margin-bottom: 10px;
}

.explanation {
  width: 75%;
  font-style: italic;
  font-size: 1.25rem;
}

.rickBigScreen {
  width: min(500px, 80vw);
  max-height: 50vh;
  height: auto;
  object-fit: contain;
}

.safeWebsite {
  width: 100%;
  height: 100%;
  border: 1px dashed var(--foreground);
}

.iframeContainer {
  margin-top: 2vh;
  width: 90%;
  max-width: 800px;
  height: 50vh;
  max-height: 600px;
}

.correct {
  color: rgb(11, 159, 66);
}

.incorrect {
  color: rgb(219, 36, 4);
}

.guesserFeedbackText {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gameOverText {
  font-size: clamp(5rem, 10vw, 8rem);
  font-weight: bold;
  font-style: italic;
}

.gameOverSubtitle {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.guesserScreenOuterContainer {
  width: 100%;
  max-width: 500px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
